.gorman-aside {
    right: 0px;
}

.gorman-main {
    float: left;
}

.line-hr-primary {
    margin: 0 0 30px auto;
}

.testimonials .item-box .info .author-img {
    float: right;
    margin-left: 20px;
}

.lr-right {
    text-align: left;
}

.lr-left {
    text-align: right;
}

.progress-wrap {
    left: 10px;
    right: unset;
}

.gorman-nav-toggle {
    right: 0px;
    left: unset;
}

@media screen and (max-width: 768px) {
    .gorman-aside {
        width: 270px;
        -moz-transform: translateX(270px);
        -webkit-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
        transform: translateX(270px);
    }
}

body.offcanvas .gorman-main,
body.offcanvas .gorman-nav-toggle {
    top: 0;
    -moz-transform: translateX(-210px);
    -webkit-transform: translateX(-210px);
    -ms-transform: translateX(-210px);
    -o-transform: translateX(-210px);
    transform: translateX(-210px);
}

.about-us {
    padding-left: unset;
    padding-right: 70px;
}

.about-us .col-xs-12 {
    border-right: solid 2px #000;
    border-left: unset;
    padding-right: 40px;
    padding-left: 60px;
}

.about-us .col-xs-12:before {
    right: -10px;
}

@media screen and (max-width: 768px) {
    .about-us {
        padding-right: 40px;
        padding-left: 15px;
    }
    .about-us .col-xs-12 {
        padding-right: 30px;
        padding-left: 13px;
    }
}
